<div class="jumbotron">
  <h1 class="display-3">Quote Crawler</h1>
  <p class="lead">Skip all of the news ish and get right down to who actually said what!!</p>
  <hr class="m-y-md">
  <p>Kicking ass and taking names!!</p>

</div>
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" ng-click="searchTerm()" >Search!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for..." ng-model="search">

    </div>
  </div>
  

</div>
</div>
<quotes></quotes>
